
<!DOCTYPE html>
<html>
<head>
  <title>Topdek - Clientes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://djazcentral.blob.core.windows.net/static/styles.css">
</head>
{% load static %}
<body>
  <div>
   <br>
 </div>
 
 <section class="cuadrocentro"  role="navigation">
    <article class="cuadrocentro">
      <article class="cuadrotop">
        <a href="https://topdek.com.br/br">
          <img src="https://djazcentral.blob.core.windows.net/static/logoofchico.png" style="width: 50%">
        </a>
      </article>
      
    </article>

    <div class="row sectionBlockLayout sectionFixedStyle" style="display: flex; flex-wrap: wrap; text-align: left; min-height: 500px; max-height: 500px; background: url('homehero.png') center center / cover no-repeat; padding: 8px; margin: 0px;">
      <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
          <h1 style="text-align: left;">¡Bienvenido al portal de clientes de Topdek Informática!</h1>
        </div>
      </div>
    </div>
  
</section>

<div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
</div>

<div class="container text-center pt-5 secc1">
 
  <h1 style="color: aliceblue;">Formulario Clientes</h1>
  <h5 style="color: aliceblue;">Rellene los campos necesarios para su registro</h5>
  {% block content %}
  <div class='jumbotron'>
    <center>
      <div class="text-left" style="max-width:800px">
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
          
          <div class='form-group'>
            {% csrf_token %}
            {{ form.as_p }}
            <center><input type="submit" class="btn btn-success btn-lg" value="Guardar" name="Submit"></center>
          </div>
          
          <br>
          
        </form>

        <p style="text-align: left; color: #33A5FF ;">Utilice este portal como medio de registro de sus transacciones comerciales a fin de detallar datos para la facturación y pago de sus compras.<br>&zwnj;En el campo "Cliente" introduzca su nombre y apellido o empresa.<br>&zwnj;En el campo RUC debe completar con el número del DNI o Cédula en caso de no contar con el RUC</p>
      </div>

      
    </center>
  </div>
  {% endblock %}
</div>


<div class="padre">
  <div class="hijo">
      <h4 style="text-align: left;"> Mejorando Servicios al cliente.</h4>
      <p style="text-align: left;">En busca de agilizar el proceso facturación al cliente, estamos implementando <br> este medio para su registro de datos</p>
  </div>

  <div class="hijo">
  <img src="https://djazcentral.blob.core.windows.net/static/Product B.png" style="width: 60%;">
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<footer>
  &copy;2020 Topdek - Ciudad del Este - Paraguay
</footer>
</body>
</html>